
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude remote_provisioners/kernel-launchers/scala/toree-launcher/target *
recursive-exclude remote_provisioners/kernel-launchers/scala/toree-launcher/project/target *
recursive-exclude remote_provisioners/kernel-launchers/scala/toree-launcher/project/project *

# Although we want this included in our distributions, its presence breaks check-manifest
# See https://github.com/mgedmin/check-manifest/issues/58
exclude remote_provisioners/kernel-launchers/scala/lib/toree-launcher_*.jar
